*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}

.wrapper{
    min-height: 100%;
    min-width: 1300px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.content{
    flex: 1 1 auto;
}

.header{
    padding: 30px 0px;
    background-color: 	#007C21;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

.title{
	text-transform: appercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 44px;
    color: white;
    text-shadow: 0 0 20px white;
}

.header__row{
    display: flex;
    justify-content: space-around;
}

.header__body{
    font-size: 30px;
    color: white;
    padding: 0 50px;
}

.header__subtitle{
    padding: 0px 0px 20px 0px;
    font-size: 46px;
}

.header__list ul{
    perspective-origin: center;
    perspective: 400px;
}

.header__list li{
    list-style: none;
    line-height: 40px;
    transition-duration: 0.2s;
}

.header__list li:hover{
    transform: translate3d(-10px, -5px, 30px);
    text-shadow: 0px 0px 20px black;
}

.header__list li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/icons/icon.png') 0px 4px/20px no-repeat;
    margin: 0px 25px 0px 0px;
}

.header__title{
    align-self: center;
    position: relative;
    transition-duration: 0.5s;
}

.header__title::before{
    content: '';
    position: absolute;
    top: 0;
    background-color: white;
    height: 2px;
    width: 50%;
    left: 22%;
    margin: 55px 0px 0px 0px;
    transition-duration: 0.5s;
}

.header__title::after{
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 50%;
    margin: -10px 0px 0px 0px;
    transition-duration: 0.5s;
    left: 22%;
}

.header__title:hover::after {
    transform: scaleX(2);
    box-shadow: 0px 0px 10px red;
}

.header__title:hover::before {
    transform: scaleX(2);
    box-shadow: 0px 0px 10px blue;
}

.header__title:hover{
    text-shadow: 0 0 20px purple;
}

.what {
    padding: 50px 0;
}

.what__row{
    display: flex;
}

.what__image {
    perspective-origin: center;
    perspective: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    flex: 0 0 250px;
}

.what__image img{
    width: 250px;
    border: 3px solid #007C21;
    box-shadow: 0px 0px 20px black;
    transition-duration: 0.3s;
}

.what__image:hover img{
    transform: translate3d(20px, -20px, 50px) rotate3d(1, 1, 1, 25deg);
    box-shadow: 0px 0px 30px blue;
}

.what__body {
    flex: 1 1 auto;
    margin: 0px 0px 0px 50px;
}

.what__title{
    color: #007C21;
    margin: 0px 0px 26px 0px;
    font-size: 26px;
}

.what__body p{
    text-align: justify;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    line-height: 24px;
}

.columns{
    padding: 20px 0px 50px 0px;
    background-color: #f5f5f5;
}

.columns__title {
    color: #007C21;
    letter-spacing: 4px;
    margin: 0px 0px 40px 0px;
}

.columns__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}

.columns__column{
    padding: 0px 8px;
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
}

.item__row{
    display: flex;
}

.item__image{
    flex: 0 0 200px;
    perspective-origin: center;
    perspective: 300px;
}

.item__image img {
    width: 200px;
    height: 200px;
    transition-duration: 0.2s;
}

.item__image img:hover{
    transform: translate3d(0,0, 30px);
    border: 2px solid black;
    box-shadow: 0 0 20px green;
}

.item__body{
    padding: 0px 30px;
}

.item__title {
    color: #007C21;
    font-size: 24px;
    margin: 0px 0px 14px 0px;
}

.item__text{
    color: black;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.vertical{
    padding: 50px 0;
}

.vertical__title {
    color: #007C21;
    margin: 0px 0px 30px 0px;
}

.vertical__body{
    max-width: 880px;
    margin: 0 auto;
}

.vertical__row{
    display: flex;
    margin: 0px -22.5px;
}

.vertical__column {
    padding: 0px 22.5px;
    display: flex;
    flex: 0 1 33.333%;
}

.vertical__item{
    display: flex;
    flex-direction: column;
    background-color: #007C21;
    border-radius: 5px;
    color: white;
    border: 1px solid #007C21;
}

.vertical__text {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 auto;
}

.vertical__text p{
    margin: 0px 0px 20px 0px;
}

.vertical__text p:last-child{
    margin: 20;
}

.vertical__subtitle{
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
    text-transform: uppercase;
}

.vertical__label {
    font-weight: 600;
    text-align: center;
    font-size:28px;
    padding: 15px 0;
    text-transform: uppercase;
    background-color: white;
    color: #007C21;
}

.vertical__button{
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    margin: 15px;
    color: #007C21;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.2s;
}

.vertical__button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px black;
}

.footer{
    padding: 30px;
    background-color: #007C21;
}

.footer__row{
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer__text{
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}